.cart_page {
    padding: 0px 65px;
    max-width: 100%;
    color: #FFF;
}

.cart_headers {
    border-radius: 22px;
    background: #181C1E;
    padding: 26px 35px 26px 47px;
    display: flex;
    gap: 49px;
}

.cart_headers li {
    color: #A28140;
    font-family: var(--second-family);
    font-size: 34px;
    font-weight: 400;
    list-style: none;
    width: 154px;
    text-align: center;
}

.cart_headers li:first-child {
    flex: 1;
    text-align: left;
}

.cart_product_container {
    display: flex;
    margin: 65px 0px;
    align-items: center;
    justify-content: center;
    padding-right: 35px;
    gap: 49px;
}

.cart_product_container>* {
    width: 154px;
    text-align: center;
}

.cart_product_image {
    border-radius: 10px;
    width: 200px;
    height: 148px;
}

.cart_product_container div:first-child{
    display: flex;
    align-items: center;
    gap: 25px;
    flex: 1;
}

.cart_product_title {
    width: 324px;
}

.cart_product_title, 
.cart_product_price,
.cart_product_qty {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    letter-spacing: 0.2px;
}

.cart_product_title {
    text-align: left !important;
}

.cart_summary_product,
.cart_total_container {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: space-between;
    margin: 20px 10%;
}

.cart_total_container {
    align-items: center;
    border-bottom: none;
}

.cart_summary_product p,
.cart_total_container p {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
}

.total_price {
    font-size: 32px !important;
}

.cart_bottom_section {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.checkout_btn {
    border-radius: 50px;
    background: #A28140;
    color: #FFF;
    font-family: var(--second-family);
    font-size: 38px;
    font-weight: 400;
    border: none;
    padding: 5px 120px;
    transition: opacity 0.3s;
    cursor: pointer;
    align-self: center;
}

.checkout_btn:hover {
    opacity: 0.8;
}

.checkout_btn:active {
    opacity: 0.7;
}