.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 109px;
}

.navbar_links,
.navbar_title {
    font-weight: 400;
    font-family: var(--second-family);
    color: #f8f8f8;
    margin: 0px;
}

.navbar_title {
    font-size: 64px;
}

.navbar_links_container {
    display: flex;
    gap: 44px;
}

.navbar_links {
    font-size: 36px;
    text-decoration: none;
}

.navbar_search_container {
    display: flex;
    align-items: center;
}

.navbar_search_input {
    font-family: Poppins;
    font-size: 24px;
    padding: 11px 0px 11px 29px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    outline: none;
}

.navbar_search_button {
    padding: 10px 29px 10px 0px;
    background-color: white;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
}