.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 109px;
}

.navbar_links,
.navbar_title {
    font-weight: 400;
    font-family: var(--second-family);
    color: #f8f8f8;
    margin: 0px;
}

.navbar_title {
    font-size: 64px;
}

.navbar_links_container {
    display: flex;
    gap: 44px;
}

.navbar_links {
    font-size: 36px;
    text-decoration: none;
}

.navbar_search_container {
    display: flex;
    align-items: center;
}

.navbar_search_input {
    font-family: Poppins;
    font-size: 24px;
    padding: 11px 0px 11px 29px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    outline: none;
}

.navbar_search_button {
    padding: 10px 29px 10px 0px;
    background-color: white;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
}

.hamburger_icon,
.close_icon {
    display: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.show_menu {
    display: flex !important;
}

@media (max-width: 1264px) {
    .navbar_container {
        padding: 15px 54px;
    }
}

@media (max-width: 1168px) {
    .navbar_title {
        font-size: 48px;
    }
    .navbar_links {
        font-size: 24px;
    }
    .navbar_search_button {
        padding: 11px 29px 10px 0px;
    }
    .navbar_links_container {
        gap: 22px;
    }
}

@media (max-width: 989px) {
    .navbar_search_button>img {
        height: 25px;
        width: 25px;
    }
    .navbar_search_input {
        font-size: 18px;
        width: 170px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .navbar_search_button {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media (max-width: 827px) {
    .navbar_title {
        font-size: 36px;
    }
    .navbar_links {
        font-size: 18px;
    }
    .navbar_container {
        padding: 10px 32px;
    }
    .navbar_search_button>img {
        height: 21px;
        width: 21px;
    }
    .navbar_search_input {
        font-size: 15px;
    }
}

@media (max-width: 670px) {
    .hamburger_icon,
    .close_icon {
        display: block;
    }

    .navbar_links_container {
        flex-direction: column;
        display: none;
        text-align: center;
        min-width: 100%;
        gap: 0px;
    }

    .navbar_links_container>a {
        display: block;
    }

    .navbar_search_container {
        display: none;
        flex: 1;
        min-width: 100%;
        margin: 12px 0px 20px 0px;
        justify-content: center;
    }

    .navbar_container{
        flex-wrap: wrap;
    }

    .navbar_search_container>* {
        vertical-align: middle;
    }
}