.place_order_container {
    display: flex;
    margin: 0px 55px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.place_order_container h1 {
    color: #A28140;
    font-family: var(--second-family);
    font-size: 48px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0.1px;
}

.place_order_left_side p,
.place_order_right_side p {
    color: #F8F8F8;
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    font-weight: 400;
    margin: 0px 0px 45px 0px;
}

.place_order_left_side_bold,
.place_order_right_side_bold {
    font-weight: 500;
}

.place_order_items_container,
.place_order_right_items {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.place_order_items_container p {
    margin-bottom: 22px;
    max-width: 400px;
}

.place_order_right_side {
    border-radius: 25px;
    background: #121618;
    box-shadow: 4px 4px 58.8px -11px #000, 0px 4px 4px 0px #000;
    height: fit-content;
    width: 384px;
}

.place_order_right_items {
    border-bottom: 2px solid #A28140;
}

.place_order_right_items:last-of-type{
    border-bottom: none;
}

.place_order_right_items * {
    margin: 29px 18px !important;
}

.place_order_right_side h1 {
    text-align: center;
    margin: 29px 0px 0px 0px;
    border-bottom: 2px solid #A28140;
}

.place_order_payment_section {
    width: 50%;
    margin: 60px auto 30px auto;
}

@media (max-width: 1191px) and (min-width: 1000px) {
    .place_order_left_side p,
    .place_order_right_side p {
        font-size: 18px;
    }
    .place_order_container h1,
    .place_order_btn {
        font-size: 32px;
    }
    .place_order_items_container p {
        max-width: 280px;
    }
}

@media (max-width: 1000px) {
    .place_order_container {
        flex-wrap: wrap;
        margin: 0px 75px;
    }
    .place_order_right_side {
        width: 500px;
        margin: 0px auto 45px auto ;
    }
}

@media (max-width: 815px) {
    .place_order_left_side p,
    .place_order_right_side p {
        font-size: 18px;
    }
    .place_order_container h1,
    .place_order_btn {
        font-size: 32px;
    }
    .place_order_items_container p {
        max-width: 280px;
    }
}

@media (max-width: 639px) {
    .place_order_items_container p {
        max-width: 200px;
    }
    .place_order_container {
        margin: 0px 40px;
    }
    .place_order_right_side {
        width: 375px;
    }
    .place_order_payment_section {
        width: 80%;
    }
}

@media (max-width: 491px) {
    .place_order_left_side p,
    .place_order_right_side p {
        font-size: 16px;
    }
    .place_order_container h1,
    .place_order_btn {
        font-size: 24px;
    }
    .place_order_items_container p {
        max-width: 180px;
    }
    .place_order_container {
        margin: 0px 15px;
    }
}