.products_heading {
    color: #A28140;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--second-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 139.897%; 
    margin: 44px 0px;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 64px;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* Styles for the ProductTab Component */

.product_tab {
    width: 327px;
    padding: 24px;
    border-radius: 25px;
    background: #121618;
    box-shadow: 4px 4px 58.8px -11px #000, 0px 4px 4px 0px #000;
    margin-bottom: 60px;
}

.product_tab_flex {
    margin: 29px 0px 9px 0px;
    max-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_to_cart_btn {
    color: #121618;
    font-family: var(--third-family);
    font-size: 28px;
    font-weight: 500;
    padding: 9px 10px;
    border-radius: 25px;
    background: #F8F8F8;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.add_to_cart_btn:hover {
    opacity: 0.8;
}

.add_to_cart_btn:active {
    opacity: 0.7;
}

.add_to_cart_btn,
.product_price {
    line-height: 20px;
    letter-spacing: 0.2px;
}

.product_img {
    border-radius: 10px;
    width: 100%;
    height: 242px;
    object-fit: cover;
}

.product_title {
    color: #A28140;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.product_price {
    color: #FBFBFB;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 700;
    margin: 0px;
}

.star_rating {
    margin-bottom: 9px;
    display: flex;
    gap: 6px;
}

/* Media Queries for both Products.jsx component and ProductTab.jsx component */

@media (max-width: 1291px) and (min-width: 1059px) {
    .products_list {
        padding: 0px 20px;
    }
}

@media (max-width: 1206px) and (min-width: 1059px) {
    .product_tab {
        width: 250px;
        margin: 0px 10px 60px 15px;
    }
    .product_img {
        height: 185px;
    }
    .products_list {
        padding: 0px 45px;
    }
}

@media (max-width: 1058px) {
    .product_tab {
        margin: 0px 15px 60px 15px;
    }
}

@media (max-width: 938px) and (min-width: 776px) {
    .product_tab {
        width: 280px;
        margin: 0px 10px 60px 15px;
    }
    .product_img {
        height: 205px;
    }
}

@media (max-width: 834px) and (min-width: 776px) {
    .product_tab {
        width: 250px;
    }
    .product_img {
        height: 185px;
    }
}

@media (max-width: 776px) {
    .products_list {
        justify-content: center;
        padding: 0px 14px;
    }
}

@media (max-width: 431px) {
    .products_heading {
        font-size: 48px;
    }
    .product_tab {
        width: 280px;
    }
    .product_img {
        height: 205px;
    }
}