.review_tab {
    border-radius: 22px;
    border: 6px solid #A28140;
    background: #FFF;
    height: 374px;
    width: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 79.3px -22px #000;
}

.review_comment {
    height: 148px;
}

.review_tab p {
    font-size: 24px;
    font-weight: 500;
    line-height: 37px;
    margin: 0px;
    padding: 0px 35px;
}

.review_tab p,
.review_tab h3 {
    color: #121618;
    font-family: var(--font-family);
    letter-spacing: 0.1px;
    text-align: center;
}

.review_tab h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    margin: 47px 0px 16px 0px;
}

.review_tab_rating_container {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 8px;
}