.shipping_form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 550px;
    margin: auto;
}

.shipping_form input {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
    border-radius: 50px;
    padding: 23px 27px;
    border: none;
}

.continue_btn {
    color: #F8F8F8;
    font-family: var(--second-family);
    font-size: 32px;
    font-weight: 400;
    border-radius: 50px;
    background: #A28140;
    cursor: pointer;
    transition: opacity 0.3s;
    padding: 10px;
    border: none;
}

.continue_btn:hover {
    opacity: 0.8;
}

.continue_btn:hover {
    opacity: 0.7;
}

@media (max-width: 950px) {
    .shipping_form input {
        font-size: 20px;
    }
    .shipping_form {
        width: 400px;
    }
}

@media (max-width: 550px) {
    .shipping_form input {
        font-size: 16px;
    }
    .shipping_form {
        width: 85%;
    }
    .continue_btn {
        font-size: 24px;
    }
}