main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navbar-toggler{
  color: white;
  border-color: white;
}

#username{
  color: white !important;
}

#adminmenu{
  color: white !important;
}

.product-card-images{
  height: 214.2px;
  object-fit: cover;
}

@media (max-width: 1198px){
  .product-card-images{
    height: 261.81px;
  }
}

@media (max-width: 990px){
  .product-card-images{
    height: 295.63px;
  }
}

@media (max-width: 767px){
  .product-card-images{
    height: fit-content;
  }
}

.carousel-image{
  max-height: 500px !important;
}